body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


.container {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */
aside {
    width: 250px;
    background-color: #252525;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 30px;
}

.logo-img {
    width: 100%;
    max-width: 200px;
}


.form {
    flex-grow: 1;
    height: 91%;
    padding: 13px;
    background-color: #e9d8d8;
    border-radius: 8px;
    color: black;
    width: 60%;
    margin-right: 25%;
    margin-top: 0.01%;
    margin-left: 26%;
    margin-bottom: 2%;
}

.Add-book {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

label {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

fieldset {

    border: none;
    padding: 0;
}

legend {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #28a745;
  
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #218838;
}

